.gider-table { display: flex; flex-direction: column; gap: 14px; }

.gider-header {
  display: grid;
  grid-template-columns: 160px 1fr 120px 150px 1fr;
  background: #cbb894;
  padding: 14px;
  border-radius: 12px;
  font-weight: bold;
}

.gider-row {
  display: grid;
  grid-template-columns: 160px 1fr 120px 150px 1fr;
  background: #f4e7cf;
  padding: 14px;
  border-radius: 12px;
}
