html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5e7d0; /* Bej arka plan */
  color: #4b2e05;           /* Kahve yazılar */
  font-family: "Segoe UI", Roboto, sans-serif;
}

/* Tüm elementlerin kutu hizasını sabitle */
* {
  box-sizing: border-box;
}

/* Linkler altı çizgisiz */
a {
  text-decoration: none;
  color: inherit;
}

/* Buton fontları düzgün görünsün */
button {
  font-family: inherit;
}
